$primary-bg: #E5E5E5;
$light-bg: #FDFDFD;
$primary-color: #365193;
$light-primary-color: #6989D6;
$text-color: #282828;
$secondary-text: #B1B1B1;


$mobile-size: 680px;
$tablet-size: 1024px;
$desktop-size: 1440px